.App {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 35px;
    left: 35px;
    right: 35px;
    top: 34%;
}

button.rec-dot{
    background-color: white;
    box-shadow: 0 0 1px 3px white;
  }
  
  button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
    box-shadow: 0 0 1px 3px white;
    
  }

  .rec.rec-arrow:disabled {
    visibility: hidden;
}

.rec.rec-arrow {
    border-radius: 0;
    border-radius: 0;
    color: blue;
    background: white;
    box-shadow: none;
}